/*
body {
    background-image: url("images/blissbackground.png");
}
*/

.month {
    width: 100%;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.day {
    border: 1px solid black;
    min-width: 64px;
    width: 90%;
    height: 144px;
    padding: 12px;
    font-size: 24px;
}